* {
    margin: 0;
}

header {
    background-color: gray;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

li {
    margin-right: 2em;
    text-align: center;
}

button {
    border: none;
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: white;
}

button:hover {
    cursor: pointer;
    background: rgb(110, 110, 110);
}

button:active {
    background: none;
}

img {
    width: 1.4em;
}

img:hover {
    cursor: pointer;
    background: rgb(110, 110, 110);
}

img:active {
    background: none;
}

main {
    margin-top: 2em;
}

#text {
    display: block;
    margin: auto;
    min-height: 30em;
    width: 75%;
    overflow-y: visible;
    border: 1px solid black;
}

#colorbtn input {
    background: none;
    border: none;
    height: 1.5em;
    width: 3em;
    padding: 0;
    margin-top: 0;
}

#colorbtn input:hover {
    cursor: pointer;
    background: rgb(110, 110, 110);
}

@media only screen and (max-width: 600px) {
    ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    li {
        margin-right: 0;
        padding: 1em;
    }
}

@media only screen and (max-width: 450px) {
    ul {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 3em;
    }
}
